/***************
    icon font
***************/
@import url("https://use.typekit.net/oba8rng.css");

@font-face {
    font-family: 'icomoon';
    src: url('fonts/icomoon.eot?2i9h9t');
    src: url('fonts/icomoon.eot?2i9h9t#iefix') format('embedded-opentype'),
        url('fonts/icomoon.ttf?2i9h9t') format('truetype'),
        url('fonts/icomoon.woff?2i9h9t') format('woff'),
        url('fonts/icomoon.svg?2i9h9t#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}



.icon-phone:before {
    content: "\e904";

}

.icon-phone:hover {
    content: "\e904";
    color: #00e113
}

.icon-facebook:before {
    content: "\e900";
}

.icon-facebook:hover {
    content: "\e900";
    color: #1877f2;
}

.icon-gmail:before {
    content: "\e901";
}

.icon-gmail:hover {
    content: "\e901";
    color: #d14836;
}

.icon-instagram:before {
    content: "\e902";
}

.icon-instagram:hover {
    content: "\e902";
    color: #e4405f;
}


.icon-steam:before {
    content: "\e903";
}

.icon-steam:hover {
    content: "\e903";
    color: #071832;
}

body {
    font-family: Verdana;
    margin: 0%;
    color: white;
    width: 100%;
    height: 100%;
    background: url(https://store-images.s-microsoft.com/image/apps.49646.64840222596934154.2e6b5e82-895f-45cd-b74d-3491e1d62f70.5147c967-07c6-4613-b5a0-11af2a3b726f?mode=scale&q=90&h=1080&w=1920&format=jpg) no-repeat;
    animation: images 25s infinite;
}

/********************
*     background    *
*       images      *
********************/

@keyframes images {
    0% {
        background: url(https://store-images.s-microsoft.com/image/apps.49646.64840222596934154.2e6b5e82-895f-45cd-b74d-3491e1d62f70.5147c967-07c6-4613-b5a0-11af2a3b726f?mode=scale&q=90&h=1080&w=1920&format=jpg) no-repeat;
        background-size: cover;

    }

    50% {
        background: url(https://assets.rockpapershotgun.com/images/2020/02/Apex-Legends-Season-4-Revenant.jpg) no-repeat;
        background-size: cover
    }

    100% {
        background: url(https://www.airsoftlimburg.be/media/images/gallery/2/big/108.jpg) no-repeat;
        background-size: cover
    }

}

/******************
*     header      *
******************/
header {
    background-color: #212529;
    display: flex;
    justify-content: center;
    align-items: center;
}

header img {
    width: 150px;
}

nav.header {
    display: flex;

}

header a {
    color: white;
    padding: 20%;
    margin: 30% 5%;
    text-align: center;
}

header a:hover {
    background-color: #00BCE1;
}

header a:active {
    background-color: #3ceae3;
}

/******************
*     footer      *
******************/

footer {
    background-color: #212529;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer h2 {
    padding-bottom: 1%;
}

nav.footer {
    display: flex;
    justify-content: center;
    width: 50%;
    margin: 0% 0% 5%;
}

nav.footer a {
    text-decoration: none;
    color: white;
    padding: 5%;
}

span {
    text-align: center;
    margin: 10% 5%;
    font-size: 300%;
}

/*****************
*      main      *
*****************/


main {
    display: flex;
    flex-direction: column;
}

main h1 {
    font-family: "bely";
    font-size: 50px;
}

.home {
    background-color: #212529;
    display: flex;
    flex-direction: row;
    margin: 10% auto;
    padding: 1%;
}

.home div {
    margin: 5%;
}


main figure {
    position: relative;
    width: 50%;
    align-self: center;
    ;
}

figcaption {
    position: absolute;
    color: white;
    top: 50%;
    left: 35%;

}

@media screen and (max-width: 768px) {

    body {
        background-image: none;
        animation: none;
    }

    header,
    nav.header {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    nav.header {
        margin: 10% 0%;
        width: 90%;
    }

    header a {
        padding: 10%;
        margin: 2%;
        background-color: #212121;
        text-decoration: none;
    }

    span {
        text-align: center;
        margin: 10%;
        font-size: 200%;
    }

    .home {
        padding-bottom: 10%;
        display: flex;
        flex-direction: column-reverse;
    }

    .home img {
        align-self: center;
        width: 50%;
    }



}