/***************
    icon font
***************/

@font-face {
    font-family: 'icomoon';
    src: url('fonts/icomoon.eot?2i9h9t');
    src: url('fonts/icomoon.eot?2i9h9t#iefix') format('embedded-opentype'),
        url('fonts/icomoon.ttf?2i9h9t') format('truetype'),
        url('fonts/icomoon.woff?2i9h9t') format('woff'),
        url('fonts/icomoon.svg?2i9h9t#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}



.icon-phone:before {
    content: "\e904";

}

.icon-phone:hover {
    content: "\e904";
    color: #00e113
}

.icon-facebook:before {
    content: "\e900";
}

.icon-facebook:hover {
    content: "\e900";
    color: #1877f2;
}

.icon-gmail:before {
    content: "\e901";
}

.icon-gmail:hover {
    content: "\e901";
    color: #d14836;
}

.icon-instagram:before {
    content: "\e902";
}

.icon-instagram:hover {
    content: "\e902";
    color: #e4405f;
}


.icon-steam:before {
    content: "\e903";
}

.icon-steam:hover {
    content: "\e903";
    color: #071832;
}

body {
    margin: 0%;
    color: white;
}

/******************
*     header      *
******************/
header {
    background-color: #212529;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav.header {
    width: 30%;
    padding: 2% 1%;
    margin: 2% 0% 2%;

}

header a {
    padding: 10% 10%;
    color: white;
    flex-shrink: 0
}

header a:hover {
    background-color: #00BCE1;
}

header a:active {
    background-color: #3ceae3;
}

/******************
*     footer      *
******************/

footer {
    background-color: #212529;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer h2 {
    padding-bottom: 1%;
}

nav.footer {
    width: 20%;
    margin: 0% 0% 5%;
}

nav.footer a {
    text-decoration: none;
    color: white;
}

span {
    text-align: center;
    margin: 10% 5%;
    font-size: 200%;
}

/*****************
*      main      *
*****************/


main {
    display: flex;
    flex-direction: column;
    margin: 5% 20% 2% 20%;
}

main figure {
    position: relative;
    width: 50%;
    align-self: center;
    ;
}

figcaption {
    position: absolute;
    color: white;
    top: 50%;
    left: 35%;

}

.gaming_intro {
    background-color: #212529;
}

.img_row {
    display: flex;
    flex-direction: row;
}


.img_row img {
    width: 100%;
    overflow: hidden;
}

.game_title {
    text-align: center;
    padding: 2%;
    background-color: #00BCE1;

}

/*********************
*      About me      *
*********************/
div {
    padding: 2%;
    margin-top: 5%;
    display: flex;
}

div img {
    width: 20%;
}

.gito {
    background-color: #00BCE1;
}

.left {
    padding-right: 5%;
}

.erasmus {
    background-color: #1dc6ce;
}

.right {
    padding-left: 5%;
}

.gaming {
    background-color: #239ca5;
}