/***************
    icon font
***************/



@font-face {
    font-family: 'icomoon';
    src: url('fonts/icomoon.eot?2i9h9t');
    src: url('fonts/icomoon.eot?2i9h9t#iefix') format('embedded-opentype'),
        url('fonts/icomoon.ttf?2i9h9t') format('truetype'),
        url('fonts/icomoon.woff?2i9h9t') format('woff'),
        url('fonts/icomoon.svg?2i9h9t#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}



.icon-phone:before {
    content: "\e904";

}

.icon-phone:hover {
    content: "\e904";
    color: #00e113
}

.icon-facebook:before {
    content: "\e900";
}

.icon-facebook:hover {
    content: "\e900";
    color: #1877f2;
}

.icon-gmail:before {
    content: "\e901";
}

.icon-gmail:hover {
    content: "\e901";
    color: #d14836;
}

.icon-instagram:before {
    content: "\e902";
}

.icon-instagram:hover {
    content: "\e902";
    color: #e4405f;
}


.icon-steam:before {
    content: "\e903";
}

.icon-steam:hover {
    content: "\e903";
    color: #071832;
}

body {
    font-family: Verdana;
    margin: 0%;
    color: white;
}

/******************
*     header      *
******************/
header {
    background-color: #212529;
    display: flex;
    justify-content: center;
    align-items: center;
}

header img {
    width: 150px;
}

nav.header {
    display: flex;

}

header a {
    color: white;
    padding: 20%;
    margin: 30% 5%;
    text-align: center;
}

header a:hover {
    background-color: #00BCE1;
}

header a:active {
    background-color: #3ceae3;
}

/******************
*     footer      *
******************/

footer {
    background-color: #212529;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer h2 {
    padding-bottom: 1%;
}

nav.footer {
    display: flex;
    justify-content: center;
    width: 50%;
    margin: 0% 0% 5%;
}

nav.footer a {
    text-decoration: none;
    color: white;
    padding: 5%;
}

span {
    text-align: center;
    margin: 10% 5%;
    font-size: 300%;
}

/*****************
*      main      *
*****************/


main {
    display: flex;
    flex-direction: column;
}

/*********************
*      Gaming      *
*********************/

.game_title {
    text-align: center;
    padding: 2%;
    margin: 2% 0% 0% 0%;
    background-color: #00BCE1;
    margin: 5% 2% 0%;

}

.title2 {
    margin: 0% 2% 0%;
}

.img_row {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    background-color: #031f28;
    margin: 0% 2% 5%;
}

.img_row img {
    width: 500px;
    height: 350px;
}

.active {
    transform: translate(-100%, 0);
    position: absolute;
    opacity: 0;
}

.active:hover {
    opacity: 1;
}



/*********************
*      About me      *
*********************/
.left {
    display: flex;
    flex-direction: row;
    padding: 2%;
    background-color: #00BCE1;
    border: 2px solid #00BCE1;
    border-radius: 25px;
    margin: 5% 40% 2% 5%;

}

.right {
    display: flex;
    flex-direction: row;
    padding: 2%;
    background-color: #1dc6ce;
    border: 2px solid #1dc6ce;
    border-radius: 25px;
    margin: 5% 5% 2% 40%;
}

div img {
    width: 40%;
}

div a {
    font-weight: bold;
    color: white;
    text-decoration: none;
}

div p {
    font-size: 13pt;
}

.left p {
    margin: 0% 25% auto 2%;
}

.right p {
    margin: 0% 2% auto 25%;
    text-align: right;
}

@media screen and (max-width: 1024px) {
    /*********************
    *   header,footer    *
    *********************/

    header a {
        margin: 2%;
        background-color: #212121;
        text-decoration: none;
        margin: 0% 1% 10%;
    }

    /*********************
    *      gaming      *
    *********************/

    .img_row {
        padding: 5% 0% 10%;
        margin: auto 8% 10%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .game_title {
        margin: 10% 8% auto;
    }

    .title2 {
        margin-top: 0%;
    }

    /*********************
    *      About me      *
    *********************/

    .left {
        margin: 5% 5% 2% 5%
    }

    .right {
        margin: 5% 5% 2% 5%
    }

    .left p {
        margin: 0% 10% auto 2%;
    }

    .right p {
        margin: 0% 2% auto 10%;
    }



}

@media screen and (max-width: 768px) {

    body {
        background-image: none;
        animation: none;
    }

    /*********************
    *   header,footer    *
    *********************/

    header,
    nav.header {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    nav.header {
        margin: 10% 0%;
        width: 90%;
    }

    header a {
        padding: 10%;
        margin: 2%;
        background-color: #212121;
        text-decoration: none;
    }

    span {
        text-align: center;
        margin: 10%;
        font-size: 200%;
    }

    /*********************
    *      gaming      *
    *********************/


    .img_row {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .img_row img {
        width: 300px;
        height: 200px;

    }

    /*********************
    *      About me      *
    *********************/

    .left,
    .right {
        margin: 5% 2%;
        display: flex;
        flex-direction: column;
    }

    .left {
        flex-direction: column-reverse;
    }

    .left img,
    .right img {
        margin: 5% 0%;
        align-self: center;
        width: 400px;
        height: 400px;
    }


    .left p,
    .right p {
        margin: auto;
    }
}