body {
    margin: 0%;
    color: white;
    width: 100%;
    height: 100%;
    background: url(./pictures/background/BO3_chronicles.jpg);
    animation: images 20s infinite;
}

/********************
*     background    *
*       images      *
********************/

@keyframes images {
    0% {
        background: url(https://store-images.s-microsoft.com/image/apps.49646.64840222596934154.2e6b5e82-895f-45cd-b74d-3491e1d62f70.5147c967-07c6-4613-b5a0-11af2a3b726f?mode=scale&q=90&h=1080&w=1920&format=jpg);
        background-size: cover;
    }

    50% {
        background: url(https://assets.rockpapershotgun.com/images/2020/02/Apex-Legends-Season-4-Revenant.jpg);
        background-size: cover
    }

    100% {
        background: url(https://www.airsoftlimburg.be/media/images/gallery/2/big/108.jpg);
        background-size: cover
    }

}

/******************
*  header,footer  *
******************/
header,
footer {
    background-color: #212529;
    display: flex;
    justify-content: center;
    align-items: center;
}

header a {
    padding: 8% 10%;
    color: white;
}

footer a {
    padding: 5% 12.5%;
}

footer {
    background-color: #212529;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2%;
}

footer h2 {
    padding-bottom: 2%;
}

a:hover {
    background-color: #00BCE1;
}

a:active {
    background-color: #3ceae3;
}

nav {
    width: 25%;
}


header a {
    margin: 2% 0%;
}

/*****************
*      main      *
*****************/


main {
    display: flex;
    flex-direction: column;
}

.home {
    background-color: #212529;
    display: flex;
    flex-direction: row;
    margin: 15% 30%;
    padding: 2%;
}

.home div {
    margin: 5%;
}


main figure {
    position: relative;
    width: 50%;
    align-self: center;
    ;
}

figcaption {
    position: absolute;
    color: white;
    top: 50%;
    left: 35%;

}